@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primaryColor: #1a1a2e;
  --secondaryColor: #f44336;
  --tertiaryColor: #001f4d;
  --backgroundColor: #eaeaea;


  --textPrimary: #1a1a2e;
  --textSecondary: #f44336;
  --textTertiary: #001f4d;

  --mobileSize: 768px;
  --tabSize: 1100px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
